.root {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input {
  margin-right: 1rem;
  padding: 4px;
}

#create-todo {
  padding: 4px 8px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}